In [1]:
import pandas as pd
import numpy as np

## Vivienda

In [9]:
file = "../../dataframes/enh/enh_clean_2016.csv"

In [10]:
df = pd.read_csv(filepath_or_buffer=file)

In [11]:
df.shape

(50643, 63)

In [12]:
df.isnull().any().any()

False

In [13]:
df.head()

,Unnamed: 0,tipo_viv,mat_pared,mat_techos,mat_pisos,ais_techos,ais_pared,ais_ventan,ais_otro,cocina_dor,...,internet,tv_paga,auto_pick,tot_resid,tot_hog,tam_loc,est_socio,ent,mun,loc
0,0,1,8,9,3,2,2,2,2,2,...,1,1,1,4,1,1,3,1,1,1
1,1,1,8,9,3,2,2,2,2,2,...,1,1,2,2,1,1,3,1,1,1
2,2,1,8,9,3,2,2,2,9,2,...,1,1,1,2,1,1,3,1,1,1
3,3,1,8,9,3,2,2,2,2,2,...,1,1,1,4,1,1,3,1,1,1
4,4,1,8,9,2,2,2,2,2,2,...,2,1,1,4,1,1,3,1,1,1

In [14]:
df_copy = df.copy()

In [15]:
df_copy.drop(labels=['Unnamed: 0'], axis=1, inplace=True)

In [16]:
df_copy.columns

Index(['tipo_viv', 'mat_pared', 'mat_techos', 'mat_pisos', 'ais_techos',
       'ais_pared', 'ais_ventan', 'ais_otro', 'cocina_dor', 'cuart_dorm',
       'num_cuarto', 'disp_agua', 'dotac_agua', 'uso_compar', 'sanit_agua',
       'bano_comp', 'bano_excus', 'bano_regad', 'drenaje', 'disp_elect',
       'focos_inca', 'focos_ahor', 'combustible', 'eli_basura', 'lavadero',
       'fregadero', 'regadera', 'rega_elect', 'tinaco_azo', 'cisterna',
       'pileta', 'calent_sol', 'calent_gas', 'medidor_luz', 'bomba_agua',
       'tanque_gas', 'aire_acond', 'calefacc', 'chimenea', 'repar_pard',
       'repar_tech', 'repar_agua', 'repar_dren', 'repar_cabl', 'const_dorm',
       'const_coci', 'const_bano', 'const_neg', 'tenencia', 'computador',
       'tel_fijo', 'celular', 'internet', 'tv_paga', 'auto_pick', 'tot_resid',
       'tot_hog', 'tam_loc', 'est_socio', 'ent', 'mun', 'loc'],
      dtype='object')

In [17]:
numericos = ['cuart_dorm', 'num_cuarto', 'bano_comp', 'bano_excus', 'bano_regad', 'focos_inca', 
             'focos_ahor', 'tot_resid', 'tot_hog' ,'tam_loc', 'est_socio']

In [18]:
categoricos = ['tipo_viv', 'mat_pared', 'mat_techos', 'mat_pisos', 'ais_techos','ais_pared', 
               'ais_ventan', 'ais_otro', 'cocina_dor', 'disp_agua', 'dotac_agua', 'uso_compar', 
               'sanit_agua', 'drenaje', 'disp_elect', 'combustible', 'eli_basura', 'lavadero',
               'fregadero', 'regadera', 'rega_elect', 'tinaco_azo', 'cisterna',
       'pileta', 'calent_sol', 'calent_gas', 'medidor_luz', 'bomba_agua',
       'tanque_gas', 'aire_acond', 'calefacc', 'chimenea', 'repar_pard',
       'repar_tech', 'repar_agua', 'repar_dren', 'repar_cabl', 'const_dorm',
       'const_coci', 'const_bano', 'const_neg', 'tenencia', 'computador',
       'tel_fijo', 'celular', 'internet', 'tv_paga', 'auto_pick',
              ]

In [19]:
df_copy.shape

(50643, 62)

In [21]:
len(numericos) + len (categoricos) + 3

62

In [24]:
df_transform = pd.DataFrame()
dicc_transform = {}

In [43]:
for element in categoricos:
    i = 0
    column = element
    
    print(element)

    grouped = pd.DataFrame(df_copy[column].dropna().value_counts())
    grouped.head()

    grouped.reset_index(inplace=True)
    grouped.columns

    grouped.rename(columns={0: 'Key'}, inplace=True)
    grouped.columns

    grouped

    list_ = []
    for row in grouped[column]:
    #    print("%.2f" % (row/df_copy.shape[0]))
        list_.append(row/df_copy.shape[0])

    list_

    grouped[column] = list_
    grouped

    dict_ = grouped.to_dict(orient='split')
    dict_.keys()

    dict_.pop('index')
    dict_.pop('columns')
    dict_

    dict__ = {}

    for line in dict_['data']:
        #print(line[1], ' : ', line[0])
        dict__[line[0]] = line[1]
        i = i + 1
    dict__
    print(i)
        
    df_transform[column] = df_copy[column].replace(dict__)
    print(df_copy[column].unique())
    print(df_transform[column].unique())

tipo_viv
5
[1 2 3 4 5]
[9.54998717e-01 3.71423494e-02 7.44426673e-03 3.35683115e-04
 7.89842624e-05]
mat_pared
8
[8 7 1 3 6 2 4 5]
[9.04290820e-01 6.05414371e-02 1.06628754e-03 3.45556148e-03
 2.54329325e-02 5.52889837e-04 1.91536836e-03 2.74470312e-03]
mat_techos
9
[9 7 3 6 1 8 4 5 2]
[7.90000592e-01 1.00704935e-02 1.09511680e-01 2.40507079e-02
 4.14667378e-04 1.20253539e-02 4.52579823e-02 3.13962443e-03
 5.52889837e-03]
mat_pisos
3
[3 2 1]
[0.52510712 0.46158403 0.01330885]
ais_techos
3
[2 9 1]
[0.94218352 0.00803665 0.04977983]
ais_pared
3
[2 9 1]
[0.98116225 0.00708884 0.01174891]
ais_ventan
3
[2 9 1]
[0.9864542 0.0057856 0.0077602]
ais_otro
3
[2 9 1]
[0.992457   0.00564737 0.00189562]
cocina_dor
2
[2 1]
[0.93276465 0.06723535]
disp_agua
2
[1 2]
[0.80747586 0.19252414]
dotac_agua
5
[1 2 4 3 5]
[0.74612483 0.14691073 0.0343779  0.04602808 0.02655846]
uso_compar
2
[2 1]
[0.96042888 0.03957112]
sanit_agua
3
[1 2 3]
[0.76290899 0.20087673 0.03621428]
drenaje
5
[1 2 5 4 3]
[0.77908102 0.18563276 0.02732855 0.00209308 0.00586458]
disp_elect
4
[1 2 3 4]
[9.98222854e-01 6.51620165e-04 1.00704935e-03 1.18476394e-04]
combustible
6
[3 4 5 6 1 2]
[0.82086369 0.05858658 0.01244002 0.00286318 0.10283751 0.00240902]
eli_basura
6
[2 1 3 4 6 5]
[0.06678119 0.83393559 0.08238059 0.00205359 0.00390972 0.01093932]
lavadero
2
[1 2]
[0.85204273 0.14795727]
fregadero
2
[1 2]
[0.6689967 0.3310033]
regadera
2
[1 2]
[0.78569595 0.21430405]
rega_elect
2
[2 1]
[0.96323283 0.03676717]
tinaco_azo
2
[1 2]
[0.60709279 0.39290721]
cisterna
2
[1 2]
[0.20970322 0.79029678]
pileta
2
[2 1]
[0.58888691 0.41111309]
calent_sol
2
[2 1]
[0.94822582 0.05177418]
calent_gas
2
[1 2]
[0.45953044 0.54046956]
medidor_luz
2
[1 2]
[0.95669688 0.04330312]
bomba_agua
2
[1 2]
[0.24181032 0.75818968]
tanque_gas
2
[1 2]
[0.10911676 0.89088324]
aire_acond
2
[2 1]
[0.78609087 0.21390913]
calefacc
2
[2 1]
[0.97458681 0.02541319]
chimenea
2
[2 1]
[0.96745848 0.03254152]
repar_pard
2
[2 1]
[0.54975021 0.45024979]
repar_tech
2
[2 1]
[0.54680805 0.45319195]
repar_agua
2
[2 1]
[0.81841518 0.18158482]
repar_dren
2
[2 1]
[0.87190727 0.12809273]
repar_cabl
2
[2 1]
[0.80011058 0.19988942]
const_dorm
2
[2 1]
[0.58760342 0.41239658]
const_coci
2
[2 1]
[0.74375531 0.25624469]
const_bano
2
[2 1]
[0.67235353 0.32764647]
const_neg
2
[2 1]
[0.76806271 0.23193729]
tenencia
6
[1 2 4 3 5 6]
[0.14953695 0.14991213 0.5352566  0.12830993 0.02484055 0.01214383]
computador
2
[2 1]
[0.59107873 0.40892127]
tel_fijo
2
[2 1]
[0.50784906 0.49215094]
celular
2
[2 1]
[0.60914638 0.39085362]
internet
2
[1 2]
[0.56619868 0.43380132]
tv_paga
2
[1 2]
[0.89512865 0.10487135]
auto_pick
2
[1 2]
[0.48079695 0.51920305]

In [50]:
df_transform['ent'] = df_copy.ent

In [51]:
df_transform['mun'] = df_copy.mun

In [52]:
df_transform['loc'] = df_copy['loc']

In [53]:
df_transform[numericos] = df_copy[numericos]

In [54]:
df_transform.columns

Index(['tipo_viv', 'mat_pared', 'mat_techos', 'mat_pisos', 'ais_techos',
       'ais_pared', 'ais_ventan', 'ais_otro', 'cocina_dor', 'disp_agua',
       'dotac_agua', 'uso_compar', 'sanit_agua', 'drenaje', 'disp_elect',
       'combustible', 'eli_basura', 'lavadero', 'fregadero', 'regadera',
       'rega_elect', 'tinaco_azo', 'cisterna', 'pileta', 'calent_sol',
       'calent_gas', 'medidor_luz', 'bomba_agua', 'tanque_gas', 'aire_acond',
       'calefacc', 'chimenea', 'repar_pard', 'repar_tech', 'repar_agua',
       'repar_dren', 'repar_cabl', 'const_dorm', 'const_coci', 'const_bano',
       'const_neg', 'tenencia', 'computador', 'tel_fijo', 'celular',
       'internet', 'tv_paga', 'auto_pick', 'ent', 'mun', 'loc', 'cuart_dorm',
       'num_cuarto', 'bano_comp', 'bano_excus', 'bano_regad', 'focos_inca',
       'focos_ahor', 'tot_resid', 'tot_hog', 'tam_loc', 'est_socio'],
      dtype='object')

In [55]:
df_transform.shape

(50643, 62)

In [48]:
file = "../../dataframes/enh/enh_transf_2016.csv"

In [49]:
df_transform.to_csv(path_or_buf=file)