[DATOS OFICIALES](!https://hoyodecrimen.com/)

In [1]:
import pandas as pd

In [2]:
file = "../../w2gis/data/clean-data/crime-lat-long.csv"

In [3]:
df = pd.read_csv(file)

In [4]:
df.head()

,cuadrante,crime,date,hour,year,month,lat,long
0,N-1.1.18,VIOLACION,2013-01-01,10:07,2013,1,19.544080,-99.124721
1,O-3.1.3,ROBO A NEGOCIO C.V.,2013-01-01,18:36,2013,1,19.188359,-99.074483
2,P-1.2.7,ROBO DE VEHICULO AUTOMOTOR S.V.,2013-01-01,01:31,2013,1,19.380817,-99.199885
3,P-1.2.9,ROBO A TRANSEUNTE C.V.,2013-01-01,14:54,2013,1,19.369505,-99.199835
4,P-1.2.2,ROBO DE VEHICULO AUTOMOTOR S.V.,2013-01-01,18:31,2013,1,19.393359,-99.199451

In [5]:
df.shape

(132692, 8)

In [6]:
df_copy = df.copy()

## Slicing the date

In [7]:
df_copy.date[1]

'2013-01-01'

In [8]:
df_copy.date[1][:4]

'2013'

In [9]:
df_copy.date[1][5:7]

'01'

In [10]:
df_copy.date[1][8:]

'01'

In [11]:
list_year = []
list_month = []
list_day = []

In [12]:
for line in range(0, df_copy.shape[0]):
    list_year.append(df_copy.date[line][:4])
    list_month.append(df_copy.date[line][5:7])
    list_day.append(df_copy.date[line][8:])

In [13]:
df_copy["year"] = list_year

In [14]:
df_copy["month"] = list_month

In [15]:
df_copy["day"] = list_day

In [16]:
df_copy.head()

,cuadrante,crime,date,hour,year,month,lat,long,day
0,N-1.1.18,VIOLACION,2013-01-01,10:07,2013,01,19.544080,-99.124721,01
1,O-3.1.3,ROBO A NEGOCIO C.V.,2013-01-01,18:36,2013,01,19.188359,-99.074483,01
2,P-1.2.7,ROBO DE VEHICULO AUTOMOTOR S.V.,2013-01-01,01:31,2013,01,19.380817,-99.199885,01
3,P-1.2.9,ROBO A TRANSEUNTE C.V.,2013-01-01,14:54,2013,01,19.369505,-99.199835,01
4,P-1.2.2,ROBO DE VEHICULO AUTOMOTOR S.V.,2013-01-01,18:31,2013,01,19.393359,-99.199451,01

## Check NA

In [17]:
df_copy.isnull().any().any()

True

In [18]:
df_copy.columns[df_copy.isnull().any()].tolist()

['lat', 'long']

In [19]:
len(pd.isnull(df_copy).any(1).nonzero()[0].tolist())

1551

In [20]:
missing = pd.isnull(df_copy).any(1).nonzero()[0].tolist()

In [21]:
df_copy.drop(index=missing, axis=0, inplace=True)

In [22]:
df_copy.shape

(131141, 9)

In [23]:
df_copy.isnull().any().any()

False

In [24]:
df_copy.head()

,cuadrante,crime,date,hour,year,month,lat,long,day
0,N-1.1.18,VIOLACION,2013-01-01,10:07,2013,01,19.544080,-99.124721,01
1,O-3.1.3,ROBO A NEGOCIO C.V.,2013-01-01,18:36,2013,01,19.188359,-99.074483,01
2,P-1.2.7,ROBO DE VEHICULO AUTOMOTOR S.V.,2013-01-01,01:31,2013,01,19.380817,-99.199885,01
3,P-1.2.9,ROBO A TRANSEUNTE C.V.,2013-01-01,14:54,2013,01,19.369505,-99.199835,01
4,P-1.2.2,ROBO DE VEHICULO AUTOMOTOR S.V.,2013-01-01,18:31,2013,01,19.393359,-99.199451,01

## 2016

In [25]:
df_copy.year.unique()

array(['2013', '2014', '2015', '2016'], dtype=object)

In [26]:
df_copy.drop(index=[122672, 122674], inplace=True)

In [27]:
df_copy.year.value_counts()

2013    41954
2014    36137
2015    32416
2016    20632
Name: year, dtype: int64

In [28]:
df_copy[(df_copy.year == '2016')].head()

,cuadrante,crime,date,hour,year,month,lat,long,day
111928,N-4.3.9,ROBO A CASA HABITACION C.V.,2016-01-01,17:42,2016,01,19.409966,-99.122464,01
111929,P-1.5.1,HOMICIDIO DOLOSO,2016-01-01,20:41,2016,01,19.363970,-99.265386,01
111930,P-1.5.3,ROBO DE VEHICULO AUTOMOTOR S.V.,2016-01-01,22:52,2016,01,19.373880,-99.234280,01
111931,P-2.1.12,ROBO A NEGOCIO C.V.,2016-01-01,20:56,2016,01,19.483868,-99.213544,01
111932,S-1.4.5,HOMICIDIO DOLOSO,2016-01-01,02:13,2016,01,19.380738,-99.139236,01

In [29]:
df_copy = df_copy[(df_copy.year == '2016')]

In [30]:
df_copy.shape

(20632, 9)

## Crime

In [31]:
df_copy.crime.value_counts()

ROBO DE VEHICULO AUTOMOTOR S.V.    5678
ROBO A TRANSEUNTE C.V.             4692
ROBO DE VEHICULO AUTOMOTOR C.V.    2551
ROBO A NEGOCIO C.V.                1883
LESIONES POR ARMA DE FUEGO          980
ROBO A REPARTIDOR C.V.              873
HOMICIDIO DOLOSO                    863
ROBO A TRANSEUNTE S.V.              541
ROBO A BORDO DE MICROBUS C.V.       480
ROBO A BORDO DE METRO S.V.          396
VIOLACION                           392
ROBO A CASA HABITACION C.V.         370
ROBO A CUENTAHABIENTE C.V.          268
ROBO A REPARTIDOR S.V.              248
ROBO A BORDO DE TAXI C.V.           149
ROBO A BORDO DE METRO C.V.          123
ROBO A TRANSPORTISTA C.V.           104
ROBO A BORDO DE MICROBUS S.V.        32
ROBO A TRANSPORTISTA S.V.             9
Name: crime, dtype: int64

In [32]:
df_copy.groupby(["crime"]).count()

,cuadrante,date,hour,year,month,lat,long,day
crime,,,,,,,,
HOMICIDIO DOLOSO,863,863,863,863,863,863,863,863
LESIONES POR ARMA DE FUEGO,980,980,980,980,980,980,980,980
ROBO A BORDO DE METRO C.V.,123,123,123,123,123,123,123,123
ROBO A BORDO DE METRO S.V.,396,396,396,396,396,396,396,396
ROBO A BORDO DE MICROBUS C.V.,480,480,480,480,480,480,480,480
ROBO A BORDO DE MICROBUS S.V.,32,32,32,32,32,32,32,32
ROBO A BORDO DE TAXI C.V.,149,149,149,149,149,149,149,149
ROBO A CASA HABITACION C.V.,370,370,370,370,370,370,370,370
ROBO A CUENTAHABIENTE C.V.,268,268,268,268,268,268,268,268
ROBO A NEGOCIO C.V.,1883,1883,1883,1883,1883,1883,1883,1883
ROBO A REPARTIDOR C.V.,873,873,873,873,873,873,873,873
ROBO A REPARTIDOR S.V.,248,248,248,248,248,248,248,248
ROBO A TRANSEUNTE C.V.,4692,4692,4692,4692,4692,4692,4692,4692
ROBO A TRANSEUNTE S.V.,541,541,541,541,541,541,541,541
ROBO A TRANSPORTISTA C.V.,104,104,104,104,104,104,104,104
ROBO A TRANSPORTISTA S.V.,9,9,9,9,9,9,9,9
ROBO DE VEHICULO AUTOMOTOR C.V.,2551,2551,2551,2551,2551,2551,2551,2551
ROBO DE VEHICULO AUTOMOTOR S.V.,5678,5678,5678,5678,5678,5678,5678,5678
VIOLACION,392,392,392,392,392,392,392,392

In [33]:
df_copy.crime.unique()

array(['ROBO A CASA HABITACION C.V.', 'HOMICIDIO DOLOSO',
       'ROBO DE VEHICULO AUTOMOTOR S.V.', 'ROBO A NEGOCIO C.V.',
       'ROBO A TRANSEUNTE C.V.', 'ROBO A TRANSEUNTE S.V.',
       'LESIONES POR ARMA DE FUEGO', 'ROBO A REPARTIDOR C.V.',
       'ROBO A BORDO DE MICROBUS C.V.', 'ROBO A BORDO DE TAXI C.V.',
       'ROBO DE VEHICULO AUTOMOTOR C.V.', 'VIOLACION',
       'ROBO A CUENTAHABIENTE C.V.', 'ROBO A REPARTIDOR S.V.',
       'ROBO A BORDO DE METRO C.V.', 'ROBO A TRANSPORTISTA C.V.',
       'ROBO A BORDO DE METRO S.V.', 'ROBO A BORDO DE MICROBUS S.V.',
       'ROBO A TRANSPORTISTA S.V.'], dtype=object)

## Save df

In [34]:
df_copy.to_csv(path_or_buf="../../w2gis/dataframes/crime-lat-long_clean_2016.csv")