[DATOS OFICIALES](!https://hoyodecrimen.com/)

In [1]:
import pandas as pd

In [63]:
file = "../w2gis/data/clean-data/crime-lat-long.csv"

In [64]:
df = pd.read_csv(file)

In [65]:
df.head()

,cuadrante,crime,date,hour,year,month,lat,long
0,N-1.1.18,VIOLACION,2013-01-01,10:07,2013,1,19.544080,-99.124721
1,O-3.1.3,ROBO A NEGOCIO C.V.,2013-01-01,18:36,2013,1,19.188359,-99.074483
2,P-1.2.7,ROBO DE VEHICULO AUTOMOTOR S.V.,2013-01-01,01:31,2013,1,19.380817,-99.199885
3,P-1.2.9,ROBO A TRANSEUNTE C.V.,2013-01-01,14:54,2013,1,19.369505,-99.199835
4,P-1.2.2,ROBO DE VEHICULO AUTOMOTOR S.V.,2013-01-01,18:31,2013,1,19.393359,-99.199451

In [66]:
df.shape

(132692, 8)

In [67]:
df_copy = df.copy()

## Slicing the date

In [68]:
df_copy.date[1]

'2013-01-01'

In [69]:
df_copy.date[1][:4]

'2013'

In [70]:
df_copy.date[1][5:7]

'01'

In [71]:
df_copy.date[1][8:]

'01'

In [72]:
list_year = []
list_month = []
list_day = []

In [73]:
for line in range(0, df_copy.shape[0]):
    list_year.append(df_copy.date[line][:4])
    list_month.append(df_copy.date[line][5:7])
    list_day.append(df_copy.date[line][8:])

In [74]:
df_copy["year"] = list_year

In [75]:
df_copy["month"] = list_month

In [76]:
df_copy["day"] = list_day

In [77]:
df_copy.head()

,cuadrante,crime,date,hour,year,month,lat,long,day
0,N-1.1.18,VIOLACION,2013-01-01,10:07,2013,01,19.544080,-99.124721,01
1,O-3.1.3,ROBO A NEGOCIO C.V.,2013-01-01,18:36,2013,01,19.188359,-99.074483,01
2,P-1.2.7,ROBO DE VEHICULO AUTOMOTOR S.V.,2013-01-01,01:31,2013,01,19.380817,-99.199885,01
3,P-1.2.9,ROBO A TRANSEUNTE C.V.,2013-01-01,14:54,2013,01,19.369505,-99.199835,01
4,P-1.2.2,ROBO DE VEHICULO AUTOMOTOR S.V.,2013-01-01,18:31,2013,01,19.393359,-99.199451,01

## Check NA

In [78]:
df_copy.isnull().any().any()

True

In [79]:
df_copy.columns[df_copy.isnull().any()].tolist()

['lat', 'long']

In [80]:
len(pd.isnull(df_copy).any(1).nonzero()[0].tolist())

1551

In [81]:
missing = pd.isnull(df_copy).any(1).nonzero()[0].tolist()

In [82]:
df_copy.drop(index=missing, axis=0, inplace=True)

In [83]:
df_copy.shape

(131141, 9)

In [84]:
df_copy.isnull().any().any()

False

In [85]:
df_copy.head()

,cuadrante,crime,date,hour,year,month,lat,long,day
0,N-1.1.18,VIOLACION,2013-01-01,10:07,2013,01,19.544080,-99.124721,01
1,O-3.1.3,ROBO A NEGOCIO C.V.,2013-01-01,18:36,2013,01,19.188359,-99.074483,01
2,P-1.2.7,ROBO DE VEHICULO AUTOMOTOR S.V.,2013-01-01,01:31,2013,01,19.380817,-99.199885,01
3,P-1.2.9,ROBO A TRANSEUNTE C.V.,2013-01-01,14:54,2013,01,19.369505,-99.199835,01
4,P-1.2.2,ROBO DE VEHICULO AUTOMOTOR S.V.,2013-01-01,18:31,2013,01,19.393359,-99.199451,01

## Crime

In [87]:
df_copy.crime.value_counts()

ROBO DE VEHICULO AUTOMOTOR S.V.    36819
ROBO A TRANSEUNTE C.V.             31707
ROBO DE VEHICULO AUTOMOTOR C.V.    16484
ROBO A NEGOCIO C.V.                13386
ROBO A REPARTIDOR C.V.              6773
LESIONES POR ARMA DE FUEGO          4448
HOMICIDIO DOLOSO                    3801
ROBO A BORDO DE MICROBUS C.V.       3683
ROBO A TRANSEUNTE S.V.              2771
ROBO A CASA HABITACION C.V.         2231
VIOLACION                           2019
ROBO A CUENTAHABIENTE C.V.          1919
ROBO A REPARTIDOR S.V.              1488
ROBO A BORDO DE METRO S.V.          1162
ROBO A BORDO DE TAXI C.V.           1026
ROBO A TRANSPORTISTA C.V.            735
ROBO A BORDO DE METRO C.V.           516
ROBO A BORDO DE MICROBUS S.V.        118
ROBO A TRANSPORTISTA S.V.             55
Name: crime, dtype: int64

In [96]:
df_copy.year.value_counts()

2013    41954
2014    36137
2015    32416
2016    20634
Name: year, dtype: int64

In [98]:
df_copy.groupby(["crime"]).count()

crime
HOMICIDIO DOLOSO                    3801
LESIONES POR ARMA DE FUEGO          4448
ROBO A BORDO DE METRO C.V.           516
ROBO A BORDO DE METRO S.V.          1162
ROBO A BORDO DE MICROBUS C.V.       3683
ROBO A BORDO DE MICROBUS S.V.        118
ROBO A BORDO DE TAXI C.V.           1026
ROBO A CASA HABITACION C.V.         2231
ROBO A CUENTAHABIENTE C.V.          1919
ROBO A NEGOCIO C.V.                13386
ROBO A REPARTIDOR C.V.              6773
ROBO A REPARTIDOR S.V.              1488
ROBO A TRANSEUNTE C.V.             31707
ROBO A TRANSEUNTE S.V.              2771
ROBO A TRANSPORTISTA C.V.            735
ROBO A TRANSPORTISTA S.V.             55
ROBO DE VEHICULO AUTOMOTOR C.V.    16484
ROBO DE VEHICULO AUTOMOTOR S.V.    36819
VIOLACION                           2019
Name: year, dtype: int64

In [99]:
df_copy.crime.unique()

array(['VIOLACION', 'ROBO A NEGOCIO C.V.',
       'ROBO DE VEHICULO AUTOMOTOR S.V.', 'ROBO A TRANSEUNTE C.V.',
       'LESIONES POR ARMA DE FUEGO', 'ROBO DE VEHICULO AUTOMOTOR C.V.',
       'ROBO A TRANSEUNTE S.V.', 'HOMICIDIO DOLOSO',
       'ROBO A REPARTIDOR C.V.', 'ROBO A CUENTAHABIENTE C.V.',
       'ROBO A BORDO DE TAXI C.V.', 'ROBO A BORDO DE MICROBUS C.V.',
       'ROBO A REPARTIDOR S.V.', 'ROBO A TRANSPORTISTA C.V.',
       'ROBO A CASA HABITACION C.V.', 'ROBO A BORDO DE METRO C.V.',
       'ROBO A TRANSPORTISTA S.V.', 'ROBO A BORDO DE METRO S.V.',
       'ROBO A BORDO DE MICROBUS S.V.'], dtype=object)

## Save df

In [86]:
df_copy.to_csv(path_or_buf="../w2gis/data/clean-data/crime-lat-long_clean.csv")