In [59]:
import pandas as pd
import numpy as np

## Vivienda

In [60]:
file = "../../dataframes/enh/enh_clean.csv"

In [61]:
df = pd.read_csv(file)

In [62]:
df.shape

(50643, 68)

In [63]:
df_copy=df.copy()

In [67]:
l = ['Unnamed: 0', 'folioviv', 'cocina', 'excusado', 'est_dis', 'upm', 'ageb', 'factor']

In [68]:
df_copy.drop(labels=l, axis=1, inplace=True)

In [69]:
for column in df_copy.columns:
    print(column, ': ', df_copy[column].unique())

tipo_viv :  [1 2 3 4 5]
mat_pared :  [8 7 1 3 6 2 4 5]
mat_techos :  [9 7 3 6 1 8 4 5 2]
mat_pisos :  [3 2 1]
ais_techos :  [2 9 1]
ais_pared :  [2 9 1]
ais_ventan :  [2 9 1]
ais_otro :  [2 9 1]
cocina_dor :  [2 1]
cuart_dorm :  [3 2 4 1 5 6 8 7 9]
num_cuarto :  [ 5  6  7  9  4  8  3  1  2 10 12 11 13 17 15 16 18 14 22 20]
disp_agua :  [1 2]
dotac_agua :  [1 2 4 3 5]
uso_compar :  [2 1]
sanit_agua :  [1 2 3]
bano_comp :  [1 2 3 0 7 5 4 6 9 8]
bano_excus :  [1 0 3 2 4 9 6]
bano_regad :  [0 1 2 9 3]
drenaje :  [1 2 5 4 3]
disp_elect :  [1 2 3 4]
focos_inca :  [ 0  9  5  3  1  4  7 10  2 13  8 40  6 11 15 22 16 24 19 12 21 14 20 23
 30 35 27 28 25 18 38 17 75 50 45 36 26 29 46 34 33 78 99]
focos_ahor :  [10  7  8 13  9 18  5 16 12  2  6  0 14 17  1  3  4 11 15 28 20 36 30 50
 88 22 25 19 80 24 21 26 27 43 23 38 60 40 99 56 37 35 47 44 64 33 29 42
 90 45 32 70 63 31 46 34 66 48 65 39 57 75 55 54 77 52 61]
combustible :  [3 4 5 6 1 2]
eli_basura :  [2 1 3 4 6 5]
lavadero :  [1 2]
fregadero :  [1 2]
regadera :  [1 2]
rega_elect :  [2 1]
tinaco_azo :  [1 2]
cisterna :  [1 2]
pileta :  [2 1]
calent_sol :  [2 1]
calent_gas :  [1 2]
medidor_luz :  [1 2]
bomba_agua :  [1 2]
tanque_gas :  [1 2]
aire_acond :  [2 1]
calefacc :  [2 1]
chimenea :  [2 1]
repar_pard :  [2 1]
repar_tech :  [2 1]
repar_agua :  [2 1]
repar_dren :  [2 1]
repar_cabl :  [2 1]
const_dorm :  [2 1]
const_coci :  [2 1]
const_bano :  [2 1]
const_neg :  [2 1]
tenencia :  [1 2 4 3 5 6]
computador :  [2 1]
tel_fijo :  [2 1]
celular :  [2 1]
internet :  [1 2]
tv_paga :  [1 2]
auto_pick :  [1 2]
tot_resid :  [ 4  2  3  6  5  1  8  7  9 14 10 12 11 13 15 16 17 20 18 19]
tot_hog :  [1 2 3 4 5]
ubica_geo :  [ 10010001  10030001  10050001 ... 320030001 320180001 320350001]
tam_loc :  [1 2 3 4]
est_socio :  [3 4 2 1]

## Generar ENT, MUN, LOC

+ Los dos primeros dígitos representan la clave de la entidad, 
+ los siguientes tres la clave del municipio y 
+ los últimos cuatro la clave de la localidad.

In [70]:
df_copy.ubica_geo.value_counts()

10010001     1176
230050001     841
310500001     729
20040001      652
80370001      636
220140001     626
30030001      589
100050001     574
180170001     560
240280001     498
40020001      496
260300001     490
250060001     467
211140001     443
50300001      435
80190001      420
110200001     398
20020001      380
50350001      374
190390001     373
60100001      358
60020001      325
60070001      320
140390001     317
90070001      303
190260001     299
40030001      299
100070001     296
280320001     293
141200001     290
             ...
270080095       1
130510140       1
90090228        1
190310224       1
71090179        1
220090018       1
71090188        1
240110008       1
70651125        1
301080137       1
70651371        1
40110290        1
180010173       1
120520003       1
130280223       1
120530014       1
70640152        1
80290964        1
180200086       1
240190025       1
130590088       1
80272815        1
220180043       1
70300141        1
120580048       1
260420666       1
180150059       1
270020216       1
120070005       1
70960052        1
Name: ubica_geo, Length: 2143, dtype: int64

In [71]:
df_copy.ubica_geo = df_copy.ubica_geo.astype(str)

In [72]:
len(df_copy.ubica_geo[0])

8

In [73]:
for line in range(0, df_copy.shape[0]):
    if(len(df_copy.ubica_geo[line]) == 8):
        df_copy.ubica_geo[line] = '0' + df_copy.ubica_geo[line]

C:\Users\aniit\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [74]:
df_copy.ubica_geo[0]

'010010001'

In [75]:
df_copy.ubica_geo[0][:2]

'01'

In [77]:
df_copy.ubica_geo[0][2:5]

'001'

In [78]:
df_copy.ubica_geo[0][5:]

'0001'

In [79]:
df_copy.shape

(50643, 60)

In [80]:
l_ent = []
l_mun = []
l_loc = []

In [82]:
for line in range(0, df_copy.shape[0]):
    l_ent.append(df_copy.ubica_geo[line][:2])
    l_mun.append(df_copy.ubica_geo[line][2:5])
    l_loc.append(df_copy.ubica_geo[line][5:])

In [83]:
len(l_ent) == len(l_mun) == len(l_loc)

True

In [84]:
df_copy['ent'] = l_ent

In [85]:
df_copy['mun'] = l_mun

In [86]:
df_copy['loc'] = l_loc

In [87]:
df_copy.head()

,tipo_viv,mat_pared,mat_techos,mat_pisos,ais_techos,ais_pared,ais_ventan,ais_otro,cocina_dor,cuart_dorm,...,tv_paga,auto_pick,tot_resid,tot_hog,ubica_geo,tam_loc,est_socio,ent,mun,loc
0,1,8,9,3,2,2,2,2,2,3,...,1,1,4,1,010010001,1,3,01,001,0001
1,1,8,9,3,2,2,2,2,2,2,...,1,2,2,1,010010001,1,3,01,001,0001
2,1,8,9,3,2,2,2,9,2,2,...,1,1,2,1,010010001,1,3,01,001,0001
3,1,8,9,3,2,2,2,2,2,4,...,1,1,4,1,010010001,1,3,01,001,0001
4,1,8,9,2,2,2,2,2,2,2,...,1,1,4,1,010010001,1,3,01,001,0001

In [92]:
df_copy.drop(labels=['ubica_geo'], axis=1, inplace=True)

In [93]:
df_copy.isnull().any().any()

False

In [94]:
file = "../../dataframes/enh/enh_clean_2016.csv"

In [ ]:
df_copy.to_csv(file)