In [5]:
import pandas as pd
import numpy as np

## Vivienda

In [6]:
file = "../../dataframes/enoe/enoe_clean_2016.csv"

In [7]:
df = pd.read_csv(filepath_or_buffer=file)

In [8]:
df.shape

(313968, 75)

In [9]:
df.isnull().any().any()

False

In [10]:
df.head()

,Unnamed: 0,loc,mun,est,t_loc,ent,sex,eda,nac_dia,nac_mes,...,ma48me1sm,p14apoyos,scian,t_tra,emp_ppal,tue_ppal,trans_ppal,mh_fil2,mh_col,sec_ins
0,0,1,2,10,1,9,2,27.0,25.0,8.0,...,0,2,7,1,2,2,0,3,2,2
1,1,1,2,10,1,9,1,45.0,16.0,2.0,...,0,2,5,2,1,1,0,1,7,8
2,2,1,2,10,1,9,2,48.0,24.0,9.0,...,0,2,18,1,2,2,0,3,8,4
3,3,1,2,10,1,9,2,24.0,18.0,10.0,...,0,2,0,1,0,0,0,0,0,0
4,4,1,2,10,1,9,1,54.0,23.0,6.0,...,0,2,19,1,1,1,0,1,5,8

In [22]:
df_copy = df.copy()

In [23]:
df_copy.drop(labels=['Unnamed: 0'], axis=1, inplace=True)

In [24]:
df_copy.columns

Index(['loc', 'mun', 'est', 't_loc', 'ent', 'sex', 'eda', 'nac_dia', 'nac_mes',
       'nac_anio', 'l_nac_c', 'cs_p12', 'cs_p13_1', 'cs_p13_2', 'cs_p17',
       'e_con', 'clase1', 'clase2', 'clase3', 'pos_ocu', 'seg_soc', 'rama',
       'c_ocu11c', 'ing7c', 'dur9c', 'emple7c', 'medica5c', 'buscar5c',
       'rama_est1', 'rama_est2', 'dur_est', 'ambito1', 'ambito2', 'tue1',
       'tue2', 'tue3', 'busqueda', 'd_ant_lab', 'd_cexp_est', 'dur_des',
       'sub_o', 's_clasifi', 'remune2c', 'pre_asa', 'tip_con', 'dispo',
       'nodispo', 'c_inac5c', 'pnea_est', 'niv_ins', 'eda5c', 'eda7c',
       'eda12c', 'eda19c', 'hij5c', 'domestico', 'anios_esc', 'hrsocup',
       'ingocup', 'ing_x_hrs', 'tpg_p8a', 'tcco', 'cp_anoc', 'imssissste',
       'ma48me1sm', 'p14apoyos', 'scian', 't_tra', 'emp_ppal', 'tue_ppal',
       'trans_ppal', 'mh_fil2', 'mh_col', 'sec_ins'],
      dtype='object')

In [25]:
numericos = ['eda', 'nac_dia', 'nac_mes', 'nac_anio', 'anios_esc', 'hrsocup', 
             'ingocup', 'ing_x_hrs', 't_tra']

In [26]:
categoricos = []

for row in df_copy.columns:
    if row not in numericos:
        if (row != 'ent') & (row != 'mun') & (row != 'loc'):
#            print(row)
            categoricos.append(row)
            
categoricos

['est',
 't_loc',
 'sex',
 'l_nac_c',
 'cs_p12',
 'cs_p13_1',
 'cs_p13_2',
 'cs_p17',
 'e_con',
 'clase1',
 'clase2',
 'clase3',
 'pos_ocu',
 'seg_soc',
 'rama',
 'c_ocu11c',
 'ing7c',
 'dur9c',
 'emple7c',
 'medica5c',
 'buscar5c',
 'rama_est1',
 'rama_est2',
 'dur_est',
 'ambito1',
 'ambito2',
 'tue1',
 'tue2',
 'tue3',
 'busqueda',
 'd_ant_lab',
 'd_cexp_est',
 'dur_des',
 'sub_o',
 's_clasifi',
 'remune2c',
 'pre_asa',
 'tip_con',
 'dispo',
 'nodispo',
 'c_inac5c',
 'pnea_est',
 'niv_ins',
 'eda5c',
 'eda7c',
 'eda12c',
 'eda19c',
 'hij5c',
 'domestico',
 'tpg_p8a',
 'tcco',
 'cp_anoc',
 'imssissste',
 'ma48me1sm',
 'p14apoyos',
 'scian',
 'emp_ppal',
 'tue_ppal',
 'trans_ppal',
 'mh_fil2',
 'mh_col',
 'sec_ins']

In [27]:
df_copy.shape

(313968, 74)

In [28]:
len(numericos) + len (categoricos) + 3

74

In [29]:
df_transform = pd.DataFrame()
dicc_transform = {}

In [30]:
for element in categoricos:
    i = 0
    column = element
    
    print(element)

    grouped = pd.DataFrame(df_copy[column].dropna().value_counts())
    grouped.head()

    grouped.reset_index(inplace=True)
    grouped.columns

    grouped.rename(columns={0: 'Key'}, inplace=True)
    grouped.columns

    grouped

    list_ = []
    for row in grouped[column]:
    #    print("%.2f" % (row/df_copy.shape[0]))
        list_.append(row/df_copy.shape[0])

    list_

    grouped[column] = list_
    grouped

    dict_ = grouped.to_dict(orient='split')
    dict_.keys()

    dict_.pop('index')
    dict_.pop('columns')
    dict_

    dict__ = {}

    for line in dict_['data']:
        #print(line[1], ' : ', line[0])
        dict__[line[0]] = line[1]
        i = i + 1
    dict__
    print(i)
        
    df_transform[column] = df_copy[column].replace(dict__)
    print(df_copy[column].unique())
    print(df_transform[column].unique())

est
4
[10 30 20 40]
[0.12986037 0.26940644 0.4877376  0.11299559]
t_loc
4
[1 2 3 4]
[0.59414017 0.13116623 0.12226405 0.15242955]
sex
2
[2 1]
[0.52284628 0.47715372]
l_nac_c
41
[  9.  20.  15.  13.  30.  21.  16.  17.   7.  31.  29.  12.  14.  28.
 200.  32.  11.   5.  10.  22.   2.  24.   1.  25. 415.   8.   3. 221.
   4.   6. 300.  19.  18. 400.  33.  27.  23.  26. 225. 100. 500.]
[5.23683942e-02 4.03066555e-02 4.24501860e-02 2.42317688e-02
 4.81259237e-02 4.17717729e-02 3.66279366e-02 2.09384396e-02
 4.05136829e-02 3.32486113e-02 2.61778270e-02 3.87873923e-02
 4.50014014e-02 2.40916272e-02 1.12431840e-03 3.37422922e-02
 4.47274882e-02 2.99998726e-02 3.06368802e-02 2.15499669e-02
 1.71450594e-02 3.40830913e-02 2.63689293e-02 3.47169138e-02
 1.33771595e-04 2.73085155e-02 1.26477858e-02 3.24555369e-03
 2.42954696e-02 1.96516842e-02 1.87917240e-04 2.98087703e-02
 2.60631657e-02 2.73913265e-04 1.91102278e-05 3.12356673e-02
 9.40860215e-03 2.66906182e-02 1.27401519e-05 6.37007593e-06]
cs_p12
3
[1 2 9]
[9.60062809e-01 3.99053407e-02 3.18503797e-05]
cs_p13_1
11
[ 7.  4.  2.  6.  0.  3.  8.  5.  9.  1. 99.]
[0.1583569  0.17912335 0.26325931 0.04193102 0.04580085 0.29317956
 0.0106444  0.00496229 0.00164666 0.00054146 0.0005542 ]
cs_p13_2
10
[4 2 6 3 1 0 5 9 7 8]
[6.94497528e-02 1.24681496e-01 1.62634409e-01 4.15688860e-01
 8.88689293e-02 4.58008459e-02 9.13150385e-02 1.36001121e-03
 1.94287316e-04 6.37007593e-06]
cs_p17
3
[2 1 9]
[7.96963385e-01 2.03030245e-01 6.37007593e-06]
e_con
7
[6 1 5 4 2 3 9]
[3.69668246e-01 1.31564363e-01 4.02818122e-01 4.50045865e-02
 3.52137797e-02 1.56417214e-02 8.91810630e-05]
clase1
3
[1 2 0]
[5.63433216e-01 4.36458493e-01 1.08291291e-04]
clase2
5
[1 3 2 4 0]
[5.39042195e-01 6.49142588e-02 2.43910207e-02 3.71544234e-01
 1.08291291e-04]
clase3
8
[1 0 6 3 4 7 2 5]
[0.51571816 0.43656678 0.02321893 0.00839576 0.00579995 0.00056694
 0.00912832 0.00060516]
pos_ocu
5
[1 3 0 2 4]
[0.38127452 0.10800782 0.4609578  0.02365209 0.02610776]
seg_soc
4
[1 2 0 3]
[0.22050973 0.31591436 0.4609578  0.0026181 ]
rama
8
[3 2 4 0 1 6 5 7]
[0.10524639 0.08434618 0.24839793 0.4609578  0.04367961 0.04939994
 0.00522983 0.00274232]
c_ocu11c
12
[ 1  5  8  0  6  3  2  4  7  9 11 10]
[5.56935739e-02 1.40565281e-01 8.07725628e-02 4.60957805e-01
 9.71818784e-02 1.03099679e-02 2.20436478e-02 5.17504969e-02
 2.72989604e-02 5.17250166e-03 1.71992050e-04 4.80813331e-02]
ing7c
8
[4 3 0 2 6 5 1 7]
[0.09399366 0.11236814 0.4609578  0.12738241 0.03236317 0.04617987
 0.06208595 0.06466901]
dur9c
10
[6 3 4 0 1 5 8 7 2 9]
[0.2087442  0.04725641 0.04483896 0.4609578  0.01454925 0.03465003
 0.08147964 0.06955804 0.035252   0.00271365]
emple7c
8
[6 1 2 0 3 5 7 4]
[0.12948772 0.10194033 0.16408679 0.4609578  0.0394881  0.05874166
 0.02615872 0.01913889]
medica5c
6
[3 1 0 2 4 5]
[0.21016155 0.27795826 0.4609578  0.01034819 0.03846252 0.00211168]
buscar5c
6
[4 0 2 3 1 5]
[5.13743439e-01 4.60957805e-01 1.37338837e-02 6.29044998e-03
 5.17250166e-03 1.01921215e-04]
rama_est1
5
[3 2 0 1 4]
[0.35364432 0.13325562 0.4609578  0.04939994 0.00274232]
rama_est2
12
[ 5  3  6  0 10  9  8  7  4  1 11  2]
[0.10524639 0.08434618 0.04255848 0.46370012 0.05901557 0.05008472
 0.03853259 0.02637848 0.04367961 0.04939994 0.03182808 0.00522983]
dur_est
7
[4 3 0 1 5 2 6]
[0.24339423 0.09209537 0.4609578  0.01454925 0.15103769 0.035252
 0.00271365]
ambito1
4
[2 0 3 1]
[0.46580862 0.4609578  0.02383364 0.04939994]
ambito2
8
[5 2 3 0 4 8 6 7]
[0.05517441 0.11193179 0.09980953 0.53419138 0.0860661  0.02799011
 0.05300859 0.03182808]
tue1
5
[1 3 0 2 4]
[0.27869082 0.17297304 0.4609578  0.08474112 0.00263721]
tue2
8
[1 5 2 0 4 6 3 7]
[0.14185841 0.13552655 0.13683242 0.46359502 0.0733769  0.02542297
 0.01136422 0.01202352]
tue3
3
[0 1 2]
[0.9266231  0.06796553 0.00541138]
busqueda
3
[2 0 1]
[0.53386969 0.4609578  0.0051725 ]
d_ant_lab
3
[0 1 2]
[0.97560898 0.02175381 0.00263721]
d_cexp_est
5
[0 1 4 3 2]
[9.78246191e-01 1.20744789e-02 9.42771238e-04 1.06380268e-03
 7.67275646e-03]
dur_des
7
[0 2 1 5 3 4 6]
[9.75608979e-01 8.54864190e-03 1.12559242e-02 5.28716302e-04
 1.86961729e-03 7.38928808e-04 1.44919227e-03]
sub_o
2
[0 1]
[0.95904678 0.04095322]
s_clasifi
7
[0 2 5 3 4 6 1]
[9.59046782e-01 1.99192274e-02 1.89063854e-02 1.70081027e-03
 3.24873872e-04 3.82204556e-05 6.37007593e-05]
remune2c
3
[1 0 2]
[0.35941879 0.61872548 0.02185573]
pre_asa
4
[1 0 2 3]
[0.25585728 0.61872548 0.12308261 0.00233463]
tip_con
6
[3 0 5 4 6 2]
[0.17276601 0.61872548 0.16368229 0.00143008 0.00455779 0.03883835]
dispo
5
[0 4 7 6 1]
[9.35085741e-01 6.32452989e-02 1.07654283e-03 2.42062885e-04
 3.50354176e-04]
nodispo
8
[0 3 1 9 5 2 4 8]
[6.28455766e-01 3.24561739e-01 2.22952658e-04 2.75282831e-02
 1.37275136e-02 5.29353310e-03 1.27401519e-04 8.28109871e-05]
c_inac5c
6
[0 1 5 2 3 4]
[0.56354151 0.1606342  0.03383466 0.20409405 0.03260205 0.00529353]
pnea_est
7
[0 2 6 4 3 1 5]
[0.56354151 0.0632453  0.02596443 0.31250637 0.0277799  0.00166896
 0.00529353]
niv_ins
6
[4 3 2 1 5 0]
[2.91768588e-01 3.24619069e-01 2.34657672e-01 1.48228482e-01
 6.17897365e-04 1.08291291e-04]
eda5c
6
[2 3 1 4 0 5]
[0.36389059 0.24180808 0.22827167 0.09295852 0.07264435 0.0004268 ]
eda7c
8
[2 4 5 1 6 3 0 7]
[0.20551457 0.16451358 0.12298387 0.11786551 0.13565077 0.18040055
 0.07264435 0.0004268 ]
eda12c
13
[ 3  7  2  8  1 11 10  5  4  0  9  6 12]
[0.09510842 0.07613196 0.11040616 0.06827447 0.11786551 0.09295852
 0.04269225 0.08975437 0.09064618 0.07264435 0.0547094  0.08838162
 0.0004268 ]
eda19c
16
[ 8 12  7 13  6 18 17 15 16 10  9  5 14 11 19  0]
[9.51084187e-02 7.61319625e-02 1.10406156e-01 6.82744738e-02
 1.17865515e-01 3.64591296e-02 2.39164501e-02 4.26922489e-02
 3.25829384e-02 8.97543699e-02 9.06461805e-02 7.25360546e-02
 5.47093971e-02 8.83816185e-02 4.26795087e-04 1.08291291e-04]
hij5c
6
[1 0 2 4 3 5]
[1.68784717e-01 4.77211053e-01 1.63067574e-01 4.41064057e-02
 1.46785660e-01 4.45905315e-05]
domestico
11
[ 3  8  6  4  1  9  7  5  2 10  0]
[3.91001631e-01 2.59090098e-01 2.69836416e-02 4.79507466e-02
 8.97894053e-02 5.44641492e-03 1.43903200e-01 7.75556745e-03
 2.69358661e-02 1.03513734e-03 1.08291291e-04]
tpg_p8a
2
[0 1]
[0.97480316 0.02519684]
tcco
4
[0 3 2 1]
[0.94377452 0.03443663 0.01983642 0.00195243]
cp_anoc
2
[0 1]
[0.90343602 0.09656398]
imssissste
6
[1 4 0 2 3 5]
[0.17696071 0.31591436 0.4609578  0.03940847 0.00414055 0.0026181 ]
ma48me1sm
2
[0 1]
[0.99421279 0.00578721]
p14apoyos
4
[2 1 3 0]
[8.29581359e-01 1.70272130e-01 3.82204556e-05 1.08291291e-04]
scian
22
[ 7  5 18  0 19  6 15 14 12 10  8 16  4  9 17  1 20  3 11 13 21  2]
[0.08963015 0.08434618 0.04255848 0.4609578  0.0542189  0.01561624
 0.03145862 0.01534551 0.01341219 0.00567255 0.02224749 0.0186261
 0.04367961 0.00413099 0.00479667 0.04939994 0.03182808 0.00237604
 0.00348125 0.00062108 0.00274232 0.00285379]
emp_ppal
3
[2 1 0]
[0.25250981 0.28653239 0.4609578 ]
tue_ppal
3
[2 1 0]
[0.40351564 0.13552655 0.4609578 ]
trans_ppal
2
[0 1]
[0.99885976 0.00114024]
mh_fil2
5
[3 1 0 2 4]
[0.32869273 0.13552655 0.4609578  0.02542297 0.04939994]
mh_col
10
[2 7 8 0 5 1 9 3 6 4]
[0.21743617 0.09032131 0.01768652 0.4609578  0.00913469 0.14198262
 0.02610776 0.01898601 0.0145174  0.00286972]
sec_ins
12
[ 2  8  4  0  7  9  1  3  5  6 11 10]
[0.13648206 0.13552655 0.09933815 0.4609578  0.04156156 0.02542297
 0.00549419 0.03737642 0.03181534 0.01136422 0.00263721 0.01202352]

In [35]:
df_transform['ent'] = df_copy.ent

In [36]:
df_transform['mun'] = df_copy.mun

In [37]:
df_transform['loc'] = df_copy['loc']

In [38]:
df_transform[numericos] = df_copy[numericos]

In [39]:
df_transform.columns

Index(['est', 't_loc', 'sex', 'l_nac_c', 'cs_p12', 'cs_p13_1', 'cs_p13_2',
       'cs_p17', 'e_con', 'clase1', 'clase2', 'clase3', 'pos_ocu', 'seg_soc',
       'rama', 'c_ocu11c', 'ing7c', 'dur9c', 'emple7c', 'medica5c', 'buscar5c',
       'rama_est1', 'rama_est2', 'dur_est', 'ambito1', 'ambito2', 'tue1',
       'tue2', 'tue3', 'busqueda', 'd_ant_lab', 'd_cexp_est', 'dur_des',
       'sub_o', 's_clasifi', 'remune2c', 'pre_asa', 'tip_con', 'dispo',
       'nodispo', 'c_inac5c', 'pnea_est', 'niv_ins', 'eda5c', 'eda7c',
       'eda12c', 'eda19c', 'hij5c', 'domestico', 'tpg_p8a', 'tcco', 'cp_anoc',
       'imssissste', 'ma48me1sm', 'p14apoyos', 'scian', 'emp_ppal', 'tue_ppal',
       'trans_ppal', 'mh_fil2', 'mh_col', 'sec_ins', 'eda', 'nac_dia',
       'nac_mes', 'nac_anio', 'anios_esc', 'hrsocup', 'ingocup', 'ing_x_hrs',
       't_tra', 'ent', 'mun', 'loc'],
      dtype='object')

In [40]:
df_transform.shape

(313968, 74)

In [41]:
file = "../../dataframes/enoe/enoe_transf_2016.csv"

In [42]:
df_transform.to_csv(path_or_buf=file)